*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f7f9fb;
    /*margin:10px;*/
}
body {
    font-size: 70%;
}
p {
    padding: 7px 0 7px 0;
    font-weight: 500;
    font-size: 12pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #abda0f;
    text-decoration: none;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}
.sep-10{
    margin-bottom: 10px;
}
.logo small {
    color: ffffff;
}
.logo {
    color: ffffff;
}

form.register{
    width:90%;
    margin: 10px auto 0px auto;
    height:100%;
    /*background-color:#fff;*/
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form.login{
    width:800px;
    margin: 90px auto 0px auto;
    height: auto;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
form p{
    font-size: 9pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}
form.register fieldset
{
    float:left;
    /*border:2px solid #1d5987;*/
    margin-bottom:15px;
    padding-bottom: 20px;
    margin-top:15px;
    padding-top: 20px;
}
form.register fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register fieldset.row2
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    height:220px;
    padding:5px;
    float:left;
}
form.register fieldset.row3
{
    border-top:1px solid #F1F1F1;
    padding:5px;
    float:left;
    margin-bottom:15px;
    width:400px;
}
form.register fieldset.row4
{
    border-top:2px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}
form.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(../img/bg_infobox.gif) repeat-x top left;
}
form.register legend
{
    color: #1d5987;
    padding:5px 5px 5px 5px;
    margin-left: 14px;
    margin-top: 20px;
    font-weight:bold;
    font-size: 16px;
    width:auto;
}
form.register label{
    color:#444;
    width:165px;
    float: left;
    font-size: 11pt;
    text-align: right;
    margin-right: 20px;
    margin-top:2px;
}
form.register label.optional{
    width:165px;
    float: left;
    font-size: 11pt;
    text-align: right;
    margin-right: 20px;
    margin-top:2px;
    color: #A3A3A3;
}
form.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}
form.register input{
    width: 230px;
    color: #505050;
    float: left;
    padding-left: 10px;
    background-color: #FAFAFA;
    margin-right: 5px;
}
form.register input.long{
    width: 230px;
    color: #505050;
    background-color: #FAFAFA;
}
form.register input.short{
    width: 230px;
    color: #505050;
    background-color: #FAFAFA;
}
form.register input[type=radio]
{
    float:left;
    width:15px;
}
form.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
form.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 30px;
    background-color: #FAFAFA;
}
form.register textarea
{
    border: 1px solid #E1E1E1;
    width: 230px;
    color: #505050;
    background-color: #FAFAFA;
    float: left;
    padding-left: 10px;
    margin-left: 0px;
}
form.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 30px;
    background-color: #FAFAFA;
}
.button
{
    background:#1d5987 url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    /*margin-left:350px;*/
    margin-bottom: 20px;
    margin-top: 30px;
}
form.register input[type=text].year{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
form.register input[type=checkbox] {
    width:15px;
    float: left;
}
form.register select
{
    border: 1px solid #E1E1E1;
    width: 230px;
    float:left;
    height: 30px;
    margin-bottom:3px;
    color: #505050;
    background-color: #FAFAFA;
    margin-right:5px;
}
form.register select.date
{
    width: 40px;
}
input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}

#birthdate{
    height: 30px;
}
/*.datepicker{
    width: 210px;
    margin-left: 5px;
    margin-top: 5px;
}*/
div#users-contain {
    width: 650px;
    margin: 20px 0;
}
div#users-contain table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}
div#users-contain table td, div#users-contain table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}
.ui-dialog .ui-state-error {
    padding: .3em;
}
.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}
#dialog-form {
    display: none;
}
#dialog-form label {
display: inline-block;
margin-bottom: 5px;
font-weight: bold;
color: #444;
width: 110px;
font-size: 11pt;
text-align: right;
margin-right: 20px;
margin-top: 2px;
}
#dialog-form input[type=text]{
    width: 230px;
    color: #505050;
    float: right;
    padding-left: 10px;
    background-color: #FAFAFA;
    margin-right: 5px;
}
#dialog-form input[type=radio]
{
    margin-left: 15px;
}