
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/

/**** Styling the form elements **/
#register, 
#login{
	position: absolute;
	width: 60%;
	padding: 18px 6% 60px 6%;
	background: rgb(247, 247, 247);
	border:2px solid #1d5987;
	margin-left: 15%;

}
.text{
}
form.text label{
	text-align: right;
  	float: left; 
}
label{
	color:#444;
    width:220px;
    float: left;
    font-size: 11pt;
    text-align: right;
    margin-right: 20px;
    margin-top:8px;
}
input{
	margin-left: 10px;
	padding-left: 5px;
	width: 280px;	
	float: left;
	height: 30px;
	margin-top:8px;
}
input[type="text"]{
	border: 1px solid #E1E1E1;
	height: 30px;
	color: #505050;
}
input[type="select"]{
	border: 1px solid #E1E1E1;
	height: 30px;
	color: #505050;
}
input[type="password"]{
	border: 1px solid #E1E1E1;
}
.signin_button
{
    background:#1d5987 url(../img/overlay.png) repeat-x;
    padding: 5px 10px 5px;
    color: #fff;
    width: 100px;
    height: 40px;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 42%;
}
/**** general text styling ****/

/** For the moment only webkit supports the background-clip:text; */

/**** advanced input styling ****/
/* placeholder */

/* all the input except submit and checkbox */

/** the magic icon trick ! **/


/*styling both submit buttons */


/* styling the checkbox "keep me logged in"*/

/*styling the links to change from one form to another */

/** Styling both forms **/

#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-delay: .6s;
	-webkit-animation-timing-function: ease-in;
	-moz-animation-delay: .6s;
	-moz-animation-timing-function: ease-in;
	-o-animation-delay: .6s;
	-o-animation-timing-function: ease-in;
	-ms-animation-delay: .6s;
	-ms-animation-timing-function: ease-in;
	animation-delay: .6s;
	animation-timing-function: ease-in;
	-webkit-animation-name: scaleIn;
	-moz-animation-name: scaleIn;
	-ms-animation-name: scaleIn;
	-o-animation-name: scaleIn;
	animation-name: scaleIn;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;
	-o-animation-timing-function: ease-out;
	-ms-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-name: scaleOut;
	-moz-animation-name: scaleOut;
	-ms-animation-name: scaleOut;
	-o-animation-name: scaleOut;
	animation-name: scaleOut;
}
#wrapper{

}
#container_demo {
	margin-top: 1%;
}
/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */
form.register select
{
    border: 1px solid #E1E1E1;
    width: 250px;
    float:left;
    height: 30px;
    margin-bottom:3px;
    color: #505050;
    background-color: #FAFAFA;
    margin-right:5px;
}