/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
    Core: General style
----------------------------
*/

html, body {
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: @body-bg;
}

a {
  color: @link-color;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: @link-hover-color;
}

/* Layouts */
.wrapper {
  min-height: 100%;
  .clearfix();
}

/* Header */
body > .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

/* Define 2 column template */
.right-side, .left-side {
  min-height: 100%;
  display: block;
}

/*right side - contins main content*/
.right-side {
  background-color: @body-bg;
  margin-left: @left-side-width;
}

/*left side - contains sidebar*/
.left-side {
  position: absolute;
  width: @left-side-width;
  top: 0;
}

@media screen and (min-width: @screen-md) {
  .left-side {
    top: 50px;
  }

  /*Right side strech mode*/
  .right-side.strech {
    margin-left: 0;
    > .content-header {
      margin-top: 0px;
    }
  }

  /* Left side collapse */
  .left-side.collapse-left {
    left: -@left-side-width;
  }
}

/*Give content full width on xs screens*/
@media screen and (max-width: @screen-md) {
  .right-side {
    margin-left: 0;
  }

}

/*
    By default the layout is not fixed but if you add the class .fixed to the body element
    the sidebar and the navbar will automatically become poisitioned fixed
*/
body.fixed {
  > .header, .left-side, .navbar {
    position: fixed;
  }
  > .header {
    top: 0;
    right: 0;
    left: 0;
  }
  .navbar {
    left: 0;
    right: 0;
  }

  .wrapper {
    margin-top: 50px;
  }

}

/* Content */
.content {
  padding: 20px 15px;
  background: @body-bg;
}

/* Utility */

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;

  > small {
    color: #666;
    display: block;
    margin-top: 5px;
  }
}

/* All images should be responsive */
img {
  max-width: 100% important;
}

.sort-highlight {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  margin-bottom: 10px;
}

/* 10px padding and margins */
.pad {
  padding: 10px;
}

.margin {
  margin: 10px;
}

/* Display inline */
.inline {
  display: inline;
  width: auto;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}

.bg-gray {
  background-color: @gray !important;
}

.bg-black {
  background-color: @black !important;
}

.bg-red {
  background-color: @red !important;
}

.bg-yellow {
  background-color: @yellow !important;
}

.bg-aqua {
  background-color: @aqua !important;
}

.bg-blue {
  background-color: @blue !important;
}

.bg-light-blue {
  background-color: @light-blue !important;
}

.bg-green {
  background-color: @green !important;
}

.bg-navy {
  background-color: @navy !important;
}

.bg-teal {
  background-color: @teal !important;
}

.bg-olive {
  background-color: @olive !important;
}

.bg-lime {
  background-color: @lime !important;
}

.bg-orange {
  background-color: @orange !important;
}

.bg-fuchsia {
  background-color: @fuchsia !important;
}

.bg-purple {
  background-color: @purple !important;
}

.bg-maroon {
  background-color: @maroon !important;
}

/* Text colors */
.text-red {
  color: @red !important;
}

.text-yellow {
  color: @yellow !important;
}

.text-aqua {
  color: @aqua !important;
}

.text-blue {
  color: @blue !important;
}

.text-light-blue {
  color: @light-blue !important;
}

.text-green {
  color: @green !important;
}

.text-navy {
  color: @navy !important;
}

.text-teal {
  color: @teal !important;
}

.text-olive {
  color: @olive !important;
}

.text-lime {
  color: @lime !important;
}

.text-orange {
  color: @orange !important;
}

.text-fuchsia {
  color: @fuchsia !important;
}

.text-purple {
  color: @purple !important;
}

.text-maroon {
  color: @maroon !important;
}

/*Hide elements by display none only*/
.hide {
  display: none !important;
}

/* Remove borders */
.no-border {
  border: 0px !important;
}

/* Remove padding */
.no-padding {
  padding: 0px !important;
}

/* Remove margins */
.no-margin {
  margin: 0px !important;
}

/* Remove box shadow */
.no-shadow {
  box-shadow: none !important;
}

/* Don't display when printing */
@media print {
  //Add to elements that you do not want to show when printing
  .no-print {
    display: none;
  }

  //Elements that we want to hide when printing
  .left-side, .header, .content-header {
    display: none;
  }

  //This is the only element that should appear, so let's remove the margins
  .right-side {
    margin: 0;
  }
}

/* Remove border radius */
.flat {
  .border-radius(0) !important;
}

/* Change the color of the striped tables */
.table-striped > tbody > tr:nth-child(odd) {
  > td,
  > th {
    background-color: @table-striped-color;
  }
}

/* .text-center in tables */
table.text-center {
  td, th {
    text-align: center;
  }
}

/* _fix for sparkline tooltip */
.jqstooltip {
  padding: 5px !important;
  width: auto !important;
  height: auto !important;
}
