/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*!
 * iCheck v1.0.1, http://git.io/arlzeA
 * =================================
 * Powerful jQuery and Zepto plugin for checkboxes and radio buttons customization
 *
 * (c) 2013 Damir Sultanov, http://fronteed.com
 * MIT Licensed
 */
/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0.7) url(iCheck/minimal/minimal.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal {
  background-position: 0 0;
}

.icheckbox_minimal.hover {
  background-position: -20px 0;
}

.icheckbox_minimal.checked {
  background-position: -40px 0;
}

.icheckbox_minimal.disabled {
  background-position: -60px 0;
  cursor: default;
}

.icheckbox_minimal.checked.disabled {
  background-position: -80px 0;
}

.iradio_minimal {
  background-position: -100px 0;
}

.iradio_minimal.hover {
  background-position: -120px 0;
}

.iradio_minimal.checked {
  background-position: -140px 0;
}

.iradio_minimal.disabled {
  background-position: -160px 0;
  cursor: default;
}

.iradio_minimal.checked.disabled {
  background-position: -180px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_minimal,
  .iradio_minimal {
    background-image: url('iCheck/minimal/minimal@2x.png');
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
