/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
    Page: Invoice
*/

.invoice {
  position: relative;
  width: 90%;
  margin: 10px auto;
  background: #fff;
  border: 1px solid #f4f4f4;
}

.invoice-title {
  margin-top: 0;
}

/* Enhancement for printing */
@media print {
  .invoice {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .invoice-col {
    float: left;
    width: 33.3333333%;
  }

  .table-responsive {
    overflow: auto;
    > .table tr th,
    > .table tr td {
      white-space: normal !important;
    }
  }

}
