/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
    Page: register and login
*/

.form-box {
  width: 360px;
  margin: 90px auto 0 auto;
  .header {
    .border-radius(4px, 4px, 0, 0);
    background: @olive;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
  }

  .body, .footer {
    padding: 10px 20px;
    background: #fff;
    color: #444;
    > .form-group {
      margin-top: 20px;
      > input {
        border: #fff;
      }
    }

    > .btn {
      margin-bottom: 10px;
    }
  }

  .footer {
    .border-radius(0, 0, 4px, 4px);
  }

  @media (max-width: @screen-sm) {
    width: 90%;
  }
}
