/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
    Compenent: Progress bars
--------------------------------
*/

/* size variation */
.progress.sm {
  height: 10px;
}

.progress.xs {
  height: 7px;
}

/* Vertical bars */
.progress.vertical {
  position: relative;
  width: 30px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
  > .progress-bar {
    width: 100% !important;
    position: absolute;
    bottom: 0;
  }

  //Sizes
  &.sm {
    width: 20px;
  }

  &.xs {
    width: 10px;
  }
}

/* Remove margins from progress bars when put in a table */
.table {
  tr > td .progress {
    margin: 0;
  }
}

// Variations
// -------------------------
.progress-bar-light-blue, .progress-bar-primary {
  .progress-bar-variant(@light-blue);
}

.progress-bar-green, .progress-bar-success {
  .progress-bar-variant(@green);
}

.progress-bar-aqua, .progress-bar-info {
  .progress-bar-variant(@aqua);
}

.progress-bar-yellow, .progress-bar-warning {
  .progress-bar-variant(@yellow);
}

.progress-bar-red, .progress-bar-danger {
  .progress-bar-variant(@red);
}
