/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
Component: timeline
--------------------
*/

.timeline {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;

  // The line
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 5px;
    background: #ddd;
    left: 45px;
    border: 1px solid #eee;
    margin: 0;
    .border-radius(2px);
  }

  > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
    .clearfix();

    // The content
    > .timeline-item {
      margin-top: 10px;
      border: 0px solid #dfdfdf;
      background: #fff;
      color: #555;
      margin-left: 60px;
      margin-right: 15px;
      padding: 5px;
      position: relative;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

      // The time and header
      > .time {
        color: #999;
        float: right;
        margin: 2px 0 0 0;
      }
      > .timeline-header {
        margin: 0;
        color: #555;
        border-bottom: 1px solid #f4f4f4;
        padding: 5px;
        font-size: 16px;
        line-height: 1.1;
        > a {
          font-weight: 600;
        }
      }
      // Item body and footer
      > .timeline-body, > .timeline-footer {
        padding: 10px;
      }

    }

    // Time label
    &.time-label {
      > span {
        font-weight: 600;
        padding: 5px;
        display: inline-block;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        .border-radius(4px);
      }
    }

    // The icons
    > .fa,
    > .glyphicon,
    > .ion {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      width: 30px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      position: absolute;
      color: #666;
      background: #eee;
      border-radius: 50%;
      text-align: center;
      left: 18px;
      top: 0;
    }

  }

}
